/*.h1{
    background-color:aqua;
    font-size: medium;
}

.h2{
    background-color: orange;
    font-style: italic;
}

.h3{
    background-color: rgb(224, 255, 229);
}*/

.Header6{
    display:flex;
    justify-content: space-between;
    background-color:aqua;
}