
/* .Header6{
    align-items:center;
    height:50px;
    width:60px;
    top: 20px;

} */

.component{
    display:flex;
    justify-content: space-between;
    background-color:rgb(192, 233, 255);
    align-items:center;
    height:50px;
    width:1525px;
    top: 20px;
}


.new{
}